.horizontal-line {
    border-bottom: 1px solid #ccc;
    width: 100%;
    margin: 7px 0;
}

.status-red {
    color: red;
}

.status-green {
    color: green;
}

.block-button {
  bottom: 24px;
  right: 24px;
  z-index: 999;
  border: 2px solid #0d47a1;
  background-color: white;
  color: #0d47a1;
  font-weight: 400;
  text-transform: none;
}

.block-button-wrapper {
  display: flex;
  justify-content: flex-end;
}

/* .main-view {
  display: flex;
  justify-content: flex-end;               
} */
